<form 
  #f="ngForm"
  class="form-horizontal" 
  (ngSubmit)="onAddReceita(f)">
  <div class="form-group col-sm-12"
    [ngClass]="{ 'has-error': titulo.invalid && titulo.touched, 'has-success': titulo.valid }">
    <label class="control-label col-sm-3">Título</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        name="titulo"
        [(ngModel)]="receita.titulo"
        #titulo="ngModel"
        required
        maxlength="10">
        <div *ngIf="titulo.invalid && !titulo.untouched"
          class="help-block">
          <div>O campo é obrigatório!</div>
        </div>
    </div>
  </div>
  <div class="form-group col-sm-12"
    [ngClass]="{ 'has-error': descricao.invalid && descricao.dirty, 'has-success': descricao.valid }">
    <label class="control-label col-sm-3">Descrição</label>
    <div class="col-sm-9">
      <textarea
        class="form-control"
        rows="6"
        name="descricao"
        [(ngModel)]="receita.descricao"
        #descricao="ngModel"
        required
        minlength="3"></textarea>
        <div *ngIf="descricao.invalid && !descricao.pristine"
          class="help-block">
          <div *ngIf="descricao.errors.required">O campo é obrigatório!</div>
          <div *ngIf="descricao.errors.minlength">Favor informar ao menos 3 letras</div>
        </div>
    </div>
  </div>
  <div class="form-group col-sm-12"
    [ngClass]="{'has-error': dificuldade.invalid && dificuldade.touched, 'has-success': dificuldade.valid}">
    <label class="control-label col-sm-3">Dificuldade</label>
    <div class="col-sm-9">
      <select
        name="dificuldade"
        class="form-control"
        [(ngModel)]="receita.dificuldade"
        #dificuldade="ngModel"
        required>
        <option value="">Escolha uma opção</option>
        <option *ngFor="let dif of dificuldades"
          [value]="dif.value">{{ dif.label }}</option>
      </select>
      <div *ngIf="dificuldade.invalid && dificuldade.touched"
        class="help-block">
        <div>O campo é obrigatório!</div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button 
      type="button" 
      class="btn btn-default"
      (click)="onCancel()">Cancelar</button>
    <button 
      type="submit" 
      class="btn btn-primary"
      [disabled]="f.invalid">Salvar</button>
  </div>
</form>




