<form 
  class="form-horizontal" 
  (ngSubmit)="onAddReceita()">
  <div class="form-group">
    <label class="control-label col-sm-3">Título</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        name="titulo"
        [(ngModel)]="titulo">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">Descrição</label>
    <div class="col-sm-9">
      <textarea
        class="form-control"
        rows="6"
        name="descricao"
        [(ngModel)]="descricao"></textarea>
    </div>
  </div>
  <div class="text-right">
    <button 
      type="button" 
      class="btn btn-default"
      (click)="onCancel()">Cancelar</button>
    <button 
      type="submit" 
      class="btn btn-primary">Salvar</button>
  </div>
</form>






