<form 
  [formGroup]="form"
  class="form-horizontal" 
  (ngSubmit)="onAddReceita()">
  <div class="form-group col-sm-12" 
    [ngClass]="{ 'has-error': form.get('titulo').invalid && form.get('titulo').dirty, 'has-success': form.get('titulo').valid && form.get('titulo').dirty}">
    <label class="control-label col-sm-3">Título</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        name="titulo"
        formControlName="titulo">
      <div class="help-block"
        *ngIf="form.get('titulo').invalid && form.get('titulo').dirty">
        <div *ngIf="form.get('titulo').errors.required">O campo é obrigatório</div>
        <div *ngIf="form.get('titulo').errors.maxlength">O campo não pode ter mais que 10 caracteres</div>
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12"
  [ngClass]="{ 'has-error': form.get('descricao').invalid && form.get('descricao').dirty, 'has-success': form.get('descricao').valid && form.get('descricao').dirty}">
    <label class="control-label col-sm-3">Descrição</label>
    <div class="col-sm-9">
      <textarea
        class="form-control"
        rows="6"
        name="descricao"
        formControlName="descricao"></textarea>
      <div class="help-block"
        *ngIf="form.get('descricao').invalid && form.get('descricao').dirty">
        <div *ngIf="form.get('descricao').errors.required">O campo é obrigatório</div>
        <div *ngIf="form.get('descricao').errors.minlength">O campo deve ter pelo menos 3 caracteres</div>
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12"
  [ngClass]="{ 'has-error': form.get('dificuldade').invalid && form.get('dificuldade').dirty, 'has-success': form.get('dificuldade').valid && form.get('dificuldade').dirty}">
    <label class="control-label col-sm-3">Dificuldade</label>
    <div class="col-sm-9">
      <select
        name="dificuldade"
        class="form-control"
        formControlName="dificuldade">
        <option value="">Escolha uma opção</option>
        <option *ngFor="let dif of dificuldades"
          [value]="dif.value">{{ dif.label }}</option>
      </select>
      <div class="help-block"
        *ngIf="form.get('dificuldade').invalid && form.get('dificuldade').dirty">
        <div>O campo é obrigatório</div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button 
      type="button" 
      class="btn btn-default"
      (click)="onCancel()">Cancelar</button>
    <button 
      type="submit" 
      class="btn btn-primary"
      [disabled]="form.invalid">Salvar</button>
  </div>
</form>




