<router-outlet></router-outlet>
<div>
  <button
    type="button"
    class="btn btn-primary"
    routerLink="new">Novo</button>
</div>

<table class="table table-stripped">
  <thead>
    <tr>
      <th colspan="2">Ingredientes</th>
    </tr>
    <tr>
      <th>Nome</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingrediente of ingredientes; let i = index">
      <td>{{ ingrediente.nome }}</td>
      <td>
        <button
          type="button"
          class="btn btn-default"
          [routerLink]="i">
          <span class="glyphicon glyphicon-eye-open"></span>
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="[ i, 'edit' ]">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDelete(i)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
