<div class="col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Nova Conta</h2>
    </div>
    <div class="panel-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group"
          [ngClass]="{ 'has-error': form.get('email').invalid && form.get('email').dirty }">
          <label for="email" class="control-label">E-mail</label>
          <input
            id="email"
            type="email"
            class="form-control"
            formControlName="email">
          <div class="help-block"
            *ngIf="form.get('email').invalid && form.get('email').dirty">
            <div>E-mail inválido</div>
          </div>
        </div>
        <div class="form-group"
          [ngClass]="{ 'has-error': form.get('password').invalid && form.get('password').dirty }">
          <label for="password" class="control-label">Senha</label>
          <input
            id="password"
            type="password"
            class="form-control"
            formControlName="password">
          <div class="help-block"
            *ngIf="form.get('password').invalid && form.get('password').dirty">
            <div *ngIf="form.get('password').hasError('required')">Campo obrigatório</div>
            <div *ngIf="form.get('password').hasError('minlength')">Informar no mínimo 6 caracteres</div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="form.invalid">Criar</button>
      </form>
    </div>
  </div>
</div>