<div
    class="panel panel-{{ estilo }}"
    [appHighlight]="{ cor: 'red', tamanho: '2px' }">
    <div class="panel-heading" appClick>
        <h3>{{ titulo | uppercase }}
            <button
                type="button"
                class="btn btn-default pull-right"
                (click)="onEditReceita()">
                <span
                    class="glyphicon glyphicon-pencil"></span>
            </button>
            <button
                type="button"
                class="btn btn-danger pull-right"
                (click)="onRemoveReceita()">
            <span
                class="glyphicon glyphicon-trash"></span>
        </button>
        </h3>
    </div>

    <div class="panel-body">
        <p>{{ dificuldade | dificuldade }}</p>
        <p>{{ descricao | resumo : 30 | uppercase }}</p>
    </div>
</div>